<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas - Edifício Taurus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
            <!-- Barra de navegação -->
            {% if 'username' in session %}
            <div class="navbar">
                <div class="username">
                    {{ session['username'] }} - apartamento: {{ apartment }}
                </div>
                
                <div>
                    <a href="/tickets">Chamados</a>  
                    <a href="/accounts">Contas</a>  
                    <a href="/logout">Sair</a>|
                </div>
            </div>
            {% else %}
            <div class="navbar">
                <div>
                    <a href="/login">Login</a>
                </div>
            </div>
            {% endif %}
    <h1>Contas</h1>
    <div id="accounts">
        <table>
            <tr>
                <th>Mês</th>
                <th>Status</th>
                <th>PIX</th>
            </tr>
            {% for account in accounts %}
            <tr>
                <td>{{ account.month }}</td>
                <td>{{ account.status }}</td>
                <td>{{ account.pix }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="/">Voltar</a>
</body>
</html>
