<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edifício Taurus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Barra de navegação -->
    {% if 'username' in session %}
    <div class="navbar">
        <div class="username">
            {{ session['username'] }} - apartamento: {{ apartment }}
        </div>
        <div>
            <a href="/tickets">Chamados</a>  
            <a href="/accounts">Contas</a>  
            <a href="/logout">Sair</a>|
        </div>
    </div>
    {% else %}
    <div class="navbar">
        <div>
            <a href="/login">Login</a>
        </div>
    </div>
    {% endif %}

    <h1>Edifício Taurus</h1>
    <div id="condominium-photo">
        <img src="static/media/taurosPhto.png" alt="Foto do Edifício Taurus" />
    </div>
    <h2>Avisos</h2>
    <div id="notices">
        {% for notice in notices %}
            <p><strong>{{ notice.title }}</strong>: {{ notice.message }}</p>
        {% endfor %}
    </div>
    <footer style="background-color: #218838; color: #fff; padding: 20px; text-align: center; margin-top: 40px;">
        <p>&copy; 2025 Edifício Taurus. Todos os direitos reservados.</p>
        <p>Desenvolvido por <strong>Emilio Bresolin</strong> - <em>Tonatiu Tech</em></p>
        <p>Endereço: R. Dom Pedro II, Numero 29 - Vacchi, Sapucaia do Sul - RS, 93214-080</p>
    </footer>    
</body>
</html>
